table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;


}

th,
#last-col {
    background-color: #e1dede;
    color: black;
}

th,
td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

#last-col {
    text-align: center;

}

    #fig1 {
        border: 1px solid rgb(92, 86, 86);
        border-radius: 4px;
        padding: 5px;
        width: 150px;
        float: right;
        
    }
    #fig2 {

        border: 0.4px solid rgb(92, 86, 86);
        border-radius: 4px;
        padding: 5px;
        width: 350px;
        float: right;
    } 
    #fig3 {

        border: 0.4px solid rgb(92, 86, 86);
        border-radius: 4px;
        padding: 5px;
        width: 350px;
        float: right;
    }



figcaption{
    color: solid black;
}
